<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Íconos & Tipografías</title>
    <link rel="stylesheet" href="css/iconos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
     </head>

  <body>
    <section>
      <h1><i class="fa fa-paper-plane-o" aria-hidden="true"></i></h1>
      <h2>Un avión de papel</h2>
      <h6>Perfecto</h6>
      <p>Cuando todo parece ir en contra de usted, recuerde que el avión despega
         con el viento en contra, no a favor. <br><br><br></p>
    </section>

    <section>
      <h1><i class="fa fa-diamond" aria-hidden="true"></i></h1>
      <h2>¿Conoces Ruby</h2>
      <h6>Lenguaje de programación</h6>
      <p>Sus fanáticos lo tienen como un lenguaje hermoso y artístico. Todavía
        así dicen que es práctico y ameno. <br><br><br></p>
    </section>

    <section class="">
      <h1><i class="fa fa-heart-o" aria-hidden="true"></i></h1>
      <h2>I do CSS & HTML</h2>
      <h6>for living</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore. <br><br><br></p>
    </section>

    <section>
      <h1><i class="fa fa-coffee" aria-hidden="true"></i></h1>
      <h2>La vida comienza</h2>
      <h6>después de un café</h6>
      <p> Detrás de cada mujer exitosa hay una cantidad substancial
         de café.<br><br><br><br></p>
    </section>

    <section>
      <h1><i class="fa fa-cutlery" aria-hidden="true"></i></h1>
      <h2>Platito de comida</h2>
      <h6>Ñomi ñomi</h6>
      <p>Todo lo que hay en esta sala es comestible. Hasta yo lo soy. Pero eso
         sería canibalismo queridos niños y esta mal visto en la mayoría de las
         sociedades.</p>
    </section>
  </body>
</html>
