<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>La Cancha</title>
    <link rel="stylesheet" href="css/laCancha.css">
  </head>
  <body>
    <section>
      <header>
        L A <br> C A N C H A
      </header>
    <section class="camp">
    <section class="campInt"></div>
    <div class="goalLeft"></div>
    <div class="goalRight"></div>
    <div class="circle"></div>
    <div class="balonLeft"><img src="images/balon.png"></div>
    <div class="balonRight"><img src="images/balon.png"></div>
    <div class="balonMidle"><img src="images/balon.png"></div>
   </section>
  </section>
  </section>
  </body>
</html>
