
body {
  background-color: #228B22;
}

header {
  color: white;
  font-family: helvetica;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.camp {
  background: #8cb27c;
  border-width: 50px;
  height: 500px;
  width: 1000px;
  position: relative;
  left: 10%;
  top: 50px;
}

.campInt {
  background: #8cb27c;
  border: 5px solid #ffffff;
  height: 400px;
  width: 900px;
  position: absolute;
  left: 50px;
  top: 50px;
}

.goalLeft {
  background: #8cb27c;
  border: 5px solid #ffffff;
  height: 200px;
  width: 100px;
  position: absolute;
  left: -4px;
  top: 100px;
}

.goalRight {
  background: #8cb27c;
  border: 5px solid #ffffff;
  height: 200px;
  width: 100px;
  position: absolute;
  right: -4px;
  top: 100px;
}

.circle {
     width: 200px;
     height: 200px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     border: 5px solid #ffffff;
     background: #8cb27c;
     position: absolute;
     right: 350px;
     top: 100px;
}

.balonLeft{
  position: absolute;;
  left: 90px;
  bottom: 267px;
}

.balonRight{
  position: absolute;
  right: 110px;
  top: 260px;
  }

  .balonMidle{
    position: absolute;;
    right: 400px;
    top: 70px;
    }
