<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>El Tríptico</title>
    <link rel="stylesheet" href="css/triptico.css">
  </head>
  <body>
    <div class="encabezado">El juego de mesa más vendido de la historia</div>
    <div class="before"><h3><b>Antes</b></h3>
      <p><align="center">Un juego creado con la función de servir como herramienta para enseñar las teorías acerca de la justicia social y económica extraídas del estudio titulado Progreso y Miseria de Henry George</p>
      <img src="image/monopoly1.jpg">
       </div>
     <div class="mono"><h3><b>Monopoly</b></h3>
       <p> <align="center"> Comercializado por primera vez en 1936.<br>A lo largo de 80 años, el juego ha sufrido una notable evolución. Sus múltiples ediciones y sus tantas versiones ha dado pie a que se cambiara desde la cja que lo contiene hasta los elementos que lo componen. Logrando así mantenese como el favorito a tráves de las décadas.</p>
      </div>
        <div class="now"><h3><b>Ahora</b></h3>
          <p> <align="center"> Con los años la finalidad del juego cambió sólo para disfrutar un buen rato, negopciando propiedades y hasta haciendo uso de medios electrónicos para todas las transaciones que requiere el juego</p>
           <img src="image/monopoly3.png">
        </div>
</body>
</html>
