<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  <link rel="stylesheet" href="css/triptico.css">
  </head>

  <body>
    <header>
      El juego de mesa más vendido de la historia
    </header>

    <article>
      <h3>Antes</h3>
      <p>Un juego creado con una función de servir como herramienta para enseñar
         las teorías acerca de la justicia social y económica extraídas del estudio
         titulado Progreso y Miseria de Henry George.</p>
      <img src='https://image.ibb.co/n0UA8R/Monopoly_600x400.png' alt=''/>
    </article>

    <article>
      <h3>Monopoly</h3>
      <p>Comercializado por vez primera en el año  de 1936.
        <br> <br><br> A lo largo de 80 años, el juego ha sufrido una notable evolución sus
         múltiples ediciones y sus tantas versiones han dado pie a que se
         cambiara desde la caja  que lo contiene hasta los elementos que lo
         componen. Logrando así mantenerse como el favorito a través de las
         décadas.</br> </br></br></p>
    </article>

    <article>
      <h3>Ahora</h3>
      <p>Con los años la finalidad del juego cambió para sólo disfrutar un buen
      rato, negociando propiedades y hasta haciendo uso de medio electrónicos
      para todas las transacciones que requiere el juego</p>
      <img src='https://image.ibb.co/caSrF6/monopoly3.png' alt=''/>
    </article>

    <footer>
      Con información de <a href='#'>google</a>
    </footer>
  </body>
</html>
