.encabezado{
  background: #FFC107;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
}

.before{
  float: left;
  height: 500px;
  width:400px;
  text-align: center;
  border: 1px solid black;
  font-size: 18px;
  padding: 20px;
}
.mono{
  float: left;
  height: 500px;
  width:400px;
  text-align: center;
  border: 1px solid black;
    font-size: 18px;
    padding: 20px;
}
.now{
  float: right;
  height: 500px;
  width:400px;
  text-align: center;
  border: 1px solid black;
    font-size: 18px;
    padding: 20px;
}
